*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Arial, Helvetica, sans-serif;

    background-image:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("https://www.google.com/imgres?q=pemandangan%20malam&imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F512250305%2Fphoto%2Fsky-full-of-stars.jpg%3Fb%3D1%26s%3D612x612%26w%3D0%26k%3D20%26c%3DfcoCPUO_c_tqoIOANTNKCYiy2269DjZSk5T9rpopnN0%3D&imgrefurl=https%3A%2F%2Fpixnio.com%2Fid%2Ffoto%2Fpemandangan%2Fmalam&docid=EBj9PbbzyeKTNM&tbnid=BbT1aAXpg0t3fM&vet=12ahUKEwimtYGL1fGUAxWhaHADHcvwJOQQnPAOegQIehAB..i&w=612&h=408&hcb=2&ved=2ahUKEwimtYGL1fGUAxWhaHADHcvwJOQQnPAOegQIehAB");

    background-size:cover;
    background-position:center;
}

.login-wrapper{
    width:100%;
    max-width:450px;
    padding:20px;
}

.brand-box{
    text-align:center;
    color:white;
    margin-bottom:25px;
}

.brand-box h1{
    font-size:42px;
    margin-bottom:10px;
}

.brand-box p{
    color:#ddd;
}

.form-login,
.form-register{
    background:white;
    padding:35px;
    border-radius:10px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.25);
}

.form-login h2,
.form-register h2{
    text-align:center;
    color:#2F956D;
    margin-bottom:25px;
}

.form-control{
    height:50px;
    border-radius:6px;
}

.btn-primary{
    width:100%;
    height:50px;

    border:none;
    background:#2F956D;
}

.btn-primary:hover{
    background:#237652;
}

.checkbox{
    text-align:left;
}

a{
    display:block;
    margin-top:15px;
    text-align:center;

    color:#2F956D;
    text-decoration:none;
}

a:hover{
    color:#237652;
}
